.mega-link {
    position: relative;

    .nav-anchor {
        &:after {
            font-size: 11px;
            content: "\e874";
            font-family: 'Linearicons-Free';
            margin-right: 4px;
        }

        @include sm {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                color: $main;
            }
        }
    }

}