.nav-cont {
    background-color: $main;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
}

.mo-navbar {
    display: flex;
    align-items: center;
}

.nav-li {
    margin-right: 22px;
}

.nav-anchor {
    font-size: 16px;
    color: #fff;
    font-family: med;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $orange;
    }
}