.contact-info-xs {
    display: none;
}

.close-btn {
    font-size: 20px;
    color: rgba($text, 0.5);
    left: 22px;
    top: 20px;
    z-index: 999;
    display: none;
    position: absolute;

    #{$ltr} & {
        left: auto;
        right: 22px;
    }
}

.search-form {
    @include sm {
        position: fixed;
        top: 100px;
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        display: none;

        .search-cont {
            width: 100%;
            margin: auto;
            max-width: 500px;

            &:after {
                right: 150px;

                #{$ltr} & {
                    left: 150px;
                    right: auto;
                }
            }
        }

        .search-input {
            padding-right: 165px;

            #{$ltr} & {
                padding-left: 165px;
                padding-right: 0;
            }
        }
    }
}

.nav-cont {
    @include sm {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 280px;
        background-color: rgba(68, 68, 68, 0.0);
        z-index: 999;
        display: none;

        #{$ltr} & {
            left: 0;
            right: auto;
        }

        nav {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            // z-index: 8;
            background-color: #fff;
            width: 280px;
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            transform: scaleX(0);
            transform-origin: right;
            @include transition(all 0.4s ease-in-out);

            #{$ltr} & {
                left: 0;
                right: auto;
                transform-origin: left;
            }

            &.nav-in {
                transform: scaleX(1);
            }
        }

        .mo-navbar {
            flex-direction: column;
            margin: 0;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 70px 25px;
        }

        .nav-li {
            margin: 7px 0;
            width: 100%;
            order: 3;

            &:nth-of-type(2) {
                order: 1;
            }

            &.contact-info-xs {



                display: block;
                margin-top: 25px;


            }
        }

        .nav-anchor {
            color: $main;
        }

        .cats-menu {
            order: 2;
            margin: 7px 0;
            width: 100%;
        }

        .cats-btn {
            height: auto;
            background-color: #fff;
            color: $main;
            padding: 0;
            width: 100%;

            .lnr {
                display: none;
            }
        }



        .contact-link {
            justify-content: center;
            width: max-content;
            margin: 5px auto;
        }

        .close-btn {
            display: block;
        }
    }
}

.top-links {
    @include xs {
        .contact-info {
            display: none;
        }

        .social {
            display: none;
        }
    }

    .lang {
        @include xs {
            margin: 0;
            transform: scaleX(0);
            transform-origin: right;
            @include transition(all 0.4s ease-in-out);
            z-index: 99999;
            right: 25px;
            top: 22px;
            position: fixed;

            #{$ltr} & {
                left: 25px;
                right: auto;
                transform-origin: left;
                margin: 0;
            }

            &.lang-in {
                transform: scaleX(1);
            }
        }
    }
}

.search-menu-overlay {
    display: none;
    z-index: -1;

    @include xs {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(68, 68, 68, 0.75);
        z-index: 11;
        display: none;
    }
}