$main:#7b2a86;
$back:#6e2979;
$orange: #f89425;
$red:#eb1e30;
$text:#444444;
$grey:#787878;
$lang:#939393;
$more:#b2b2b2;
// $top-links:#f7f7f7;
$border:#ededed;
$arrow:#b4b4b4;
$arrow-back:#f2f2f2;
$arrow-hover:#f79222;


$ltr: "html[dir='ltr']";