.footer {
    background-color: #fff;
    padding-top: 67px;
    padding-bottom: 35px;

    @include xs {
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 27px;
    }

    .social-link {
        width: 37px;
        height: 37px;
        margin: 0 2px;
        font-size: 18px;
    }
}

.foot-header {
    text-transform: capitalize;
    font-size: 16px;
    font-family: bold;
    color: $text;
    margin-bottom: 21px;

    @include xs {
        text-align: center;
    }
}

.nav-foot-link {
    text-transform: capitalize;
    color: $text;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    font-size: 15px;
    backface-visibility: hidden;
    line-height: 1px;


    &:hover,
    &:focus {
        color: $red;
        transform: translateX(-8px);
    }
}

#{$ltr} .nav-foot-link {

    &:hover,
    &:focus {
        transform: translateX(8px);
    }
}

.nav-foot-li {
    margin-bottom: 9px;

    &:last-of-type {
        margin: 0;
    }
}

.news-sub-header {
    color: $text;
    font-size: 14px;
    margin-bottom: 14px;

    @include xs {
        text-align: center;
    }
}

.news-letter {
    @include sm {
        margin: 30px 0;
    }
}




.last-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 33px;

    @include xs {
        margin-top: 20px;
    }
}

.copytight {
    display: flex;
    color: $text;
    align-items: center;
    font-size: 15px;

    img {
        margin: 0 5px;
    }

    .tasawk {
        margin: 0 4px;

        @include xs {
            margin: 5px 0 0;

        }
    }

    @include xs {
        flex-direction: column;
        justify-content: center;
        order: 2;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

.maarouf {
    margin-bottom: 30px;

    @include xs {
        margin-bottom: 20px;
    }
}

.payment {
    margin-top: 17px;

    @include xs {
        margin-top: 0;
    }
}